.text-red:hover{
    color: red!important;
}

.card-shadow:hover{
    box-shadow: 0px 0px 10px red;
}

.form-control:focus{
    border-color: red;
    box-shadow: 0 0 0 0.25rem rgb(255 0 0 / 25%);
}

.form-select:focus{
    border-color: red;
    box-shadow: 0 0 0 0.25rem rgb(255 0 0 / 25%);
}

.form-select > option:hover,
.form-select > option:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: red!important;
}
